/* Icons from directory "" */
.icon-angular,.icon-angular\:regular{background-image:url('icons/icons.png');background-position:0 0;background-repeat:no-repeat}
.icon-angular-dims{width:185px;height:50px}
.icon-bootstrap,.icon-bootstrap\:regular{background-image:url('icons/icons.png');background-position:0 -50px;background-repeat:no-repeat}
.icon-bootstrap-dims{width:51px;height:50px}
.icon-css,.icon-css\:regular{background-image:url('icons/icons.png');background-position:0 -100px;background-repeat:no-repeat}
.icon-css-dims{width:56px;height:50px}
.icon-es6,.icon-es6\:regular{background-image:url('icons/icons.png');background-position:0 -150px;background-repeat:no-repeat}
.icon-es6-dims{width:51px;height:50px}
.icon-git,.icon-git\:regular{background-image:url('icons/icons.png');background-position:0 -200px;background-repeat:no-repeat}
.icon-git-dims{width:51px;height:50px}
.icon-gulp,.icon-gulp\:regular{background-image:url('icons/icons.png');background-position:0 -250px;background-repeat:no-repeat}
.icon-gulp-dims{width:23px;height:50px}
.icon-heroku,.icon-heroku\:regular{background-image:url('icons/icons.png');background-position:0 -300px;background-repeat:no-repeat}
.icon-heroku-dims{width:32px;height:50px}
.icon-html5,.icon-html5\:regular{background-image:url('icons/icons.png');background-position:0 -350px;background-repeat:no-repeat}
.icon-html5-dims{width:36px;height:50px}
.icon-jira,.icon-jira\:regular{background-image:url('icons/icons.png');background-position:0 -400px;background-repeat:no-repeat}
.icon-jira-dims{width:129px;height:50px}
.icon-jquery,.icon-jquery\:regular{background-image:url('icons/icons.png');background-position:0 -450px;background-repeat:no-repeat}
.icon-jquery-dims{width:222px;height:50px}
.icon-js,.icon-js\:regular{background-image:url('icons/icons.png');background-position:0 -500px;background-repeat:no-repeat}
.icon-js-dims{width:51px;height:50px}
.icon-mongodb,.icon-mongodb\:regular{background-image:url('icons/icons.png');background-position:0 -550px;background-repeat:no-repeat}
.icon-mongodb-dims{width:178px;height:50px}
.icon-nodejs,.icon-nodejs\:regular{background-image:url('icons/icons.png');background-position:0 -600px;background-repeat:no-repeat}
.icon-nodejs-dims{width:82px;height:50px}
.icon-pug,.icon-pug\:regular{background-image:url('icons/icons.png');background-position:0 -650px;background-repeat:no-repeat}
.icon-pug-dims{width:82px;height:50px}
.icon-react,.icon-react\:regular{background-image:url('icons/icons.png');background-position:0 -700px;background-repeat:no-repeat}
.icon-react-dims{width:57px;height:50px}
.icon-sass,.icon-sass\:regular{background-image:url('icons/icons.png');background-position:0 -750px;background-repeat:no-repeat}
.icon-sass-dims{width:67px;height:50px}
.icon-sketch,.icon-sketch\:regular{background-image:url('icons/icons.png');background-position:0 -800px;background-repeat:no-repeat}
.icon-sketch-dims{width:56px;height:50px}
.icon-slack,.icon-slack\:regular{background-image:url('icons/icons.png');background-position:0 -850px;background-repeat:no-repeat}
.icon-slack-dims{width:50px;height:50px}
.icon-trello,.icon-trello\:regular{background-image:url('icons/icons.png');background-position:0 -900px;background-repeat:no-repeat}
.icon-trello-dims{width:50px;height:50px}
.icon-vue,.icon-vue\:regular{background-image:url('icons/icons.png');background-position:0 -950px;background-repeat:no-repeat}
.icon-vue-dims{width:58px;height:50px}
.icon-webpack,.icon-webpack\:regular{background-image:url('icons/icons.png');background-position:0 -1000px;background-repeat:no-repeat}
.icon-webpack-dims{width:45px;height:50px}
.icon-wordpress,.icon-wordpress\:regular{background-image:url('icons/icons.png');background-position:0 -1050px;background-repeat:no-repeat}
.icon-wordpress-dims{width:51px;height:50px}