// Icons from directory "iconizr/svg"
%icon {
	background-repeat: no-repeat
}
.icon-angular,
.icon-angular\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 0;
}
.icon-angular-dims {
	width: 75px;
	height: 75px;
}
.icon-apollo,
.icon-apollo\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -75px;
}
.icon-apollo-dims {
	width: 75px;
	height: 75px;
}
.icon-aws,
.icon-aws\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -150px;
}
.icon-aws-dims {
	width: 75px;
	height: 75px;
}
.icon-babel,
.icon-babel\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -225px;
}
.icon-babel-dims {
	width: 75px;
	height: 75px;
}
.icon-bootstrap,
.icon-bootstrap\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -300px;
}
.icon-bootstrap-dims {
	width: 75px;
	height: 75px;
}
.icon-css3,
.icon-css3\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -375px;
}
.icon-css3-dims {
	width: 75px;
	height: 75px;
}
.icon-d3,
.icon-d3\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -450px;
}
.icon-d3-dims {
	width: 75px;
	height: 75px;
}
.icon-express,
.icon-express\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -525px;
}
.icon-express-dims {
	width: 75px;
	height: 75px;
}
.icon-figma,
.icon-figma\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -600px;
}
.icon-figma-dims {
	width: 75px;
	height: 75px;
}
.icon-firebase,
.icon-firebase\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -675px;
}
.icon-firebase-dims {
	width: 75px;
	height: 75px;
}
.icon-git,
.icon-git\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -750px;
}
.icon-git-dims {
	width: 75px;
	height: 75px;
}
.icon-graphql,
.icon-graphql\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -825px;
}
.icon-graphql-dims {
	width: 75px;
	height: 75px;
}
.icon-gulp,
.icon-gulp\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -900px;
}
.icon-gulp-dims {
	width: 75px;
	height: 75px;
}
.icon-handlebars,
.icon-handlebars\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -975px;
}
.icon-handlebars-dims {
	width: 75px;
	height: 75px;
}
.icon-heroku,
.icon-heroku\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1050px;
}
.icon-heroku-dims {
	width: 75px;
	height: 75px;
}
.icon-html5,
.icon-html5\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1125px;
}
.icon-html5-dims {
	width: 75px;
	height: 75px;
}
.icon-illustrator,
.icon-illustrator\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1200px;
}
.icon-illustrator-dims {
	width: 75px;
	height: 75px;
}
.icon-javascript,
.icon-javascript\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1275px;
}
.icon-javascript-dims {
	width: 75px;
	height: 75px;
}
.icon-jest,
.icon-jest\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1350px;
}
.icon-jest-dims {
	width: 75px;
	height: 75px;
}
.icon-jquery,
.icon-jquery\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1425px;
}
.icon-jquery-dims {
	width: 75px;
	height: 75px;
}
.icon-less,
.icon-less\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1500px;
}
.icon-less-dims {
	width: 75px;
	height: 75px;
}
.icon-material-ui,
.icon-material-ui\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1575px;
}
.icon-material-ui-dims {
	width: 75px;
	height: 75px;
}
.icon-mocha,
.icon-mocha\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1650px;
}
.icon-mocha-dims {
	width: 75px;
	height: 75px;
}
.icon-mongodb,
.icon-mongodb\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1725px;
}
.icon-mongodb-dims {
	width: 75px;
	height: 75px;
}
.icon-nextjs,
.icon-nextjs\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1800px;
}
.icon-nextjs-dims {
	width: 75px;
	height: 75px;
}
.icon-nodejs,
.icon-nodejs\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1875px;
}
.icon-nodejs-dims {
	width: 75px;
	height: 75px;
}
.icon-npm,
.icon-npm\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -1950px;
}
.icon-npm-dims {
	width: 75px;
	height: 75px;
}
.icon-nuxt,
.icon-nuxt\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2025px;
}
.icon-nuxt-dims {
	width: 75px;
	height: 75px;
}
.icon-photoshop,
.icon-photoshop\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2100px;
}
.icon-photoshop-dims {
	width: 75px;
	height: 75px;
}
.icon-pug,
.icon-pug\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2175px;
}
.icon-pug-dims {
	width: 75px;
	height: 75px;
}
.icon-react,
.icon-react\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2250px;
}
.icon-react-dims {
	width: 75px;
	height: 75px;
}
.icon-redux,
.icon-redux\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2325px;
}
.icon-redux-dims {
	width: 75px;
	height: 75px;
}
.icon-sass,
.icon-sass\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2400px;
}
.icon-sass-dims {
	width: 75px;
	height: 75px;
}
.icon-sketch,
.icon-sketch\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2475px;
}
.icon-sketch-dims {
	width: 75px;
	height: 75px;
}
.icon-typescript,
.icon-typescript\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2550px;
}
.icon-typescript-dims {
	width: 75px;
	height: 75px;
}
.icon-vuejs,
.icon-vuejs\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2625px;
}
.icon-vuejs-dims {
	width: 128px;
	height: 75px;
}
.icon-vuetify,
.icon-vuetify\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2700px;
}
.icon-vuetify-dims {
	width: 75px;
	height: 75px;
}
.icon-webpack,
.icon-webpack\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2775px;
}
.icon-webpack-dims {
	width: 75px;
	height: 75px;
}
.icon-wordpress,
.icon-wordpress\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2850px;
}
.icon-wordpress-dims {
	width: 75px;
	height: 75px;
}
.icon-yarn,
.icon-yarn\:regular {
	@extend %icon;
	background-image: url('svg/svg.svg');
	background-position: 0 -2925px;
}
.icon-yarn-dims {
	width: 75px;
	height: 75px;
}